/* bodyをflex化 */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

/* ヘッダー・ナビ */
header {
  background: #ffffff;
  color: #000000;
  padding: 20px 0 10px 0;
  border-bottom: 1px solid #000000;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 2em;
  list-style: none;
  margin-top: 10px;
}
nav a {
  text-decoration: none;
  color: #000000;
  padding: 6px 14px;
  border-radius: 4px;
  transition:  0.2s;
}
nav a:hover {
  background: #f1f1f1;
  border-bottom: 2px solid #ffb648;
}

/*フッター*/
footer {
  background-color: #fff5e8;
  padding: 20px;
  font-size: 14px;
  color: #000000;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.footer-left,
.footer-right {
  flex: 1;
  min-width: 200px;
  padding: 10px;
}

.footer-left {
  text-align: center;
}

.footer-img {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto 5px;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.footer-bottom {
  text-align: center;
  font-size: 12px;
}